<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment ::headerFragment"></head>

<body>

<nav th:replace="fragments/navbarFragment :: navbarFragment"/>
<br/>



<div class="container">
    <div class="columns is-mobile is-centered">
        <h1 class="title is-2">Admin Page</h1>
    </div>
    <div class="columns is-mobile is-centered">

        <div class="column">

            <nav class="panel">
                <p class="panel-heading">
                    Admin Functions
                </p>
                <a class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book"></i>
    </span>
                    Create New Article
                </a>

            </nav>
        </div>

        <div class="column is-narrow is-offset-1">

            <table class="table is-striped is-hoverable is-fullwidth is-scrollable">
                <thead>

                </thead>
                <tbody >
                <tr>
                    <td> <h1 class="title is-primary">2017</h1></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <h1 class="title is-primary">2016</h1></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="columns is-mobile is-centered">
        <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous" title="This is the first page" >Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li>
                    <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
                </li>
                <li>
                    <a class="pagination-link" aria-label="Goto page 2">2</a>
                </li>
                <li>
                    <a class="pagination-link" aria-label="Goto page 3">3</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<br/>


</body>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>


</html>
