<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment ::headerFragment"></head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<body>

<nav th:replace="fragments/navbarFragment :: navbarFragment"/>
<br/>



<div class="container">
    <div class="columns is-mobile is-desktop is-centered">
        <h1 class="title is-2">Admin Page</h1>
    </div>
    <div class="columns is-mobile is-flex-mobile is-desktop is-centered">
        <div class="column">
            <nav class="panel">
                <p class="panel-heading">
                    Admin Functions
                </p>
                <a class="panel-block" href="/create/article">
                    <span class="panel-icon">
                        <i class="fas fa-book"></i>
                        </span>
                    Create New Article
                </a>
                <a class="panel-block button modal-button" id="create-tag" data-target="modal-tag-create" >
                    <span class="panel-icon">
                      <i class="fas fa-tag" />
                    </span>
                    Create New Tag
                </a>

            </nav>
        </div>


        <div class="column is-narrow is-offset-1">

            <table class="table is-striped is-hoverable is-fullwidth is-scrollable">
                <thead>

                </thead>
                <tbody >
                <tr>
                    <td> <h1 class="title is-primary">2017</h1></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <h1 class="title is-primary">2016</h1></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                    <td><a class="is-link">Edit</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="columns is-mobile is-centered">
        <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous" title="This is the first page" >Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li>
                    <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
                </li>
                <li>
                    <a class="pagination-link" aria-label="Goto page 2">2</a>
                </li>
                <li>
                    <a class="pagination-link" aria-label="Goto page 3">3</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<br/>

<div id="modal-tag-create" class="modal is-mobile ">

    <div class="modal-background close-modal"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title is-centered">Create a Tag</p>
            <p class="modal-card-title is-info confirm-notify is-centered"></p>
            <button class="delete close-modal" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Enter a tag name</label>
                <div class="control field has-addons">
                        <input class="input tagName" id="tagName" type="text" placeholder="TagName" />
                        <button class="button is-success" id="tagline" >
                            Add Tag
                       </button>
                </div>
            </div>
                <div class="field is-grouped is-grouped-multiline" id="addtag">
                </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success save-tag">Save Tag</button>
            <button class="button close-modal">Cancel</button>
        </footer>
    </div>
</div>
<script th:src="@{/js/admin.js}"></script>
<script th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
</body>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>


</html>
