<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment ::headerFragment"></head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>


<body>

<nav th:replace="fragments/navbarFragment :: navbarFragment" />
<br/>
<section class="container">
    <div class="columns is-mobile is-centered">
        <h1 class="title is-2">Editor</h1>
    </div>
    <div class="space">
        <div class="field">
            <div class="control">
                <a class="title is-success action"> Create a Article</a>
                <input class="input is-primary" id="article-title" type="text" placeholder="Article Title" />
            </div>
        </div>
    </div>

    <div id="summernote"></div>
    <br/>
    <div class="control">
        <input class="input is-primary" id="tagline" type="text" placeholder="Add tags" />
    </div>
    <br/>
    <div class="tag">
    <div class="field is-grouped is-grouped-multiline" id="addtag">
        <div class="control">
            <div class="tags has-addons">
                <a class="tag is-link tag-name">Technology</a>
                <a class="tag is-delete"></a>
            </div>
        </div>

        <div class="control">
            <div class="tags has-addons">
                <a class="tag tag-name is-link">CSS</a>
                <a class="tag is-delete"></a>
            </div>
        </div>

        <div class="control">
            <div class="tags has-addons">
                <a class="tag tag-name is-link">Flexbox</a>
                <a class="tag is-delete" onclick="removeTag()"></a>
            </div>
        </div>

        <div class="control">
            <div class="tags has-addons">
                <a class="tag tag-name is-link">Web Design</a>
                <a class="tag is-delete"></a>
            </div>
        </div>

        <div class="control">
            <div class="tags has-addons">
                <a class="tag tag-name is-link">Open Source</a>
                <a class="tag is-delete"></a>
            </div>
        </div>

        <div class="control">
            <div class="tags has-addons">
                <a class="tag tag-name is-link">Community</a>
                <a class="tag is-delete"></a>
            </div>
        </div>

        <div class="control">
            <div class="tags has-addons">
                <a class="tag is-link">Documentation</a>
                <a class="tag is-delete"></a>
            </div>
        </div>
    </div>
    </div>

    <br/>
    <br/>
    <nav class="level">
        <div class="level-left">
        <div class="level-item has-text-centered">
            <div>
                <p class="control">
                    <a class="button is-danger  ">
                        <span>Undo</span>
                        <span class="icon is-small">
                            <i class="fas fa-undo"></i>
                        </span>
                    </a>
                    <a class="button is-danger is-hoverable">
                        <span>Redo</span>
                        <span class="icon is-small">
                            <i class="fas redo"></i>
                        </span>
                    </a>
                </p>
            </div>
        </div>
        </div>
        <div class="level-left">
        <div class="level-item has-text-centered">
            <div>
                <p class="control">
                    <a class="button is-danger is-outlined">
                        <span>Clear</span>
                        <span class="icon is-small"><i class="fas fa-times"></i></span>
                    </a>
                    <a class="button is-link" id="submit">
                        <span>Save Changes</span>
                        <span class="icon is-small">
                                <i class="fas fa-check"></i>
                                </span>

                    </a>

                </p>
            </div>
        </div>
        </div>
    </nav>




</section>
<br/>

<script th:src="@{/js/editor.js}"></script>


</body>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>



</html>
