<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment ::headerFragment">

<script
        src="http://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
</head>
<body>

<nav th:replace="fragments/navbarFragment :: navbarFragment" />
<br/>
<section class="container">
    <div class="columns is-mobile is-centered">
        <h1 class="title is-2">Editor</h1>
    </div>
    <div class="space" th:if="${isArticleTrigger}">
        <div class="field">
            <div class="control">
                <a class="title is-success action"> Create a Article</a>
                <input class="input is-primary" id="article-title" type="text" placeholder="Article Title" />
            </div>
        </div>
    </div>

    <textarea class="textarea is-info" id="mytextarea" type="text" rows="26" placeholder="Info textarea"></textarea>
    <br/>
    <div class="control">
        <input class="input is-primary" id="tagline" type="text" placeholder="Add tags" />
    </div>

    <nav class="panel" id="searchVal">


    </nav>
    <nav class="notification is-danger is-hidden">
        <button class="delete"></button>
       Sorry, no tag found Sandeep
    </nav>
    <br/>

    <div class="field is-grouped is-grouped-multiline" id="addtag">

    </div>









    <br/>
    <br/>
    <nav class="level">
        <div class="level-left">
        <div class="level-item has-text-centered">
            <div>
                <p class="control">
                    <a class="button is-danger  ">
                        <span>Undo</span>
                        <span class="icon is-small">
                            <i class="fas fa-undo"></i>
                        </span>
                    </a>
                    <a class="button is-danger is-hoverable">
                        <span>Redo</span>
                        <span class="icon is-small">
                            <i class="fas redo"></i>
                        </span>
                    </a>
                </p>
            </div>
        </div>
        </div>
        <div class="level-left">
        <div class="level-item has-text-centered">
            <div>
                <p class="control">
                    <a class="button is-danger is-outlined">
                        <span>Clear</span>
                        <span class="icon is-small"><i class="fas fa-times"></i></span>
                    </a>
                    <a class="button is-link" id="submit">
                        <span onclick="saveArticle()">Save Changes</span>
                        <span class="icon is-small">
                                <i class="fas fa-check"></i>
                                </span>
                    </a>

                </p>
            </div>
        </div>
        </div>
    </nav>




</section>
<br/>
<div th:replace="fragments/headerFragment ::before-body-scripts"></div>
<script th:src="@{/js/editor.js}"></script>


</body>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>



</html>
