<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment ::headerFragment"></head>

<body>

<nav th:replace="fragments/navbarFragment :: navbarFragment"/>
<br/>



<div class="container">
    <div class="columns is-mobile is-centered">
        <h1 class="title is-1">Archives</h1>
    </div>
    <div class="columns is-mobile is-centered">

        <div class="column is-narrow">

            <table class="table is-striped is-hoverable  is-fullwidth">
                <thead>

                </thead>
                <tbody >
                <tr>
                    <td> <h1 class="title is-4 is-primary">2017</h1></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>
                </tr>
                <tr>
                    <td> <h1 class="title is-4 is-primary">2016</h1></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                <tr>
                    <td> <a class="is-link">Jan 17</a></td>
                    <td> <a class="is-link">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque </a></td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
<br/>


</body>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>


</html>
