<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment ::headerFragment"></head>

<body>

<nav th:replace="fragments/navbarFragment :: navbarFragment"/>
<br/>

<section class="container">
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow">

            <article class="media">
                <h1 class="title is-4 media-left is-primary">2017</h1>

            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>


            <article class="media">
                <h1 class="title is-4 media-left is-primary">2016</h1>


            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>

            <article class="media">
                <a class="media-left">
                    2016
                </a>

            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>

            <article class="media">
                <h1 class="title is-4 media-left is-primary">2015</h1>


            </article>
            <article class="media">
                <a class="media-left">
                    Jan 14
                </a>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
                <div>
                    <a href="/admin/editor">Edit</a>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>


            <article class="media">
                <a class="media-left">
                    2016
                </a>

            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>

            <article class="media">
                <a class="media-left">
                    2016
                </a>

            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>

            <article class="media">
                <a class="media-left">
                    2016
                </a>

            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    Jan 14
                </figure>
                <div class="media-content">
                    <div class="content">
                        <a href="/article">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque  </a>
                    </div>
                </div>
            </article>

        </div>
    </div>

</section>
<br/>


</body>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>


</html>
