<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment ::headerFragment"></head>

<body>

<nav th:replace="fragments/navbarFragment :: navbarFragment"/>
<br/>



<div class="container">
    <div class="columns is-mobile is-centered">
        <h1 class="title is-1">Archives</h1>
    </div>
    <div class="columns is-mobile is-centered">

        <div class="column is-narrow">

            <table class="table is-striped is-hoverable  is-fullwidth">
                <thead>

                </thead>
                <tbody id="article-body">

                </tbody>
            </table>

        </div>
    </div>

</div>
<br/>

<div th:replace="fragments/headerFragment ::before-body-scripts"></div>
<script th:src="@{/js/archive.js}"></script>
</body>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>


</html>
