<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment ::headerFragment"></head>

<body>

<nav th:replace="fragments/navbarFragment :: navbarFragment"/>

<section class="section">
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th >
                        <a>Tags</a>
                    </th>

                    <th>
                        <a>Count</a>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> <a class="is-link">Java</a></td>
                    <td> <a class="is-link">4</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Springboot</a></td>
                    <td> <a class="is-link">3</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Security</a></td>
                    <td> <a class="is-link">5</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Algorithms</a></td>
                    <td> <a class="is-link">6</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Java</a></td>
                    <td> <a class="is-link">4</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Springboot</a></td>
                    <td> <a class="is-link">3</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Security</a></td>
                    <td> <a class="is-link">5</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Algorithms</a></td>
                    <td> <a class="is-link">6</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Java</a></td>
                    <td> <a class="is-link">4</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Springboot</a></td>
                    <td> <a class="is-link">3</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Security</a></td>
                    <td> <a class="is-link">5</a></td>
                </tr>
                <tr>
                    <td> <a class="is-link">Algorithms</a></td>
                    <td> <a class="is-link">6</a></td>
                </tr>
           </tbody>
            </table>
        </div>
    </div>

</section>
<br/>


</body>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>


</html>
