<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment ::headerFragment"></head>

<body>

<nav th:replace="fragments/navbarFragment :: navbarFragment"/>

<section class="section">
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th >
                        <a>Tags</a>
                    </th>

                    <th>
                        <a>Count</a>
                    </th>

                </tr>
                </thead>
                <tbody id="tag_data">
                <tr>

                </tr>
           </tbody>
            </table>
        </div>
    </div>

</section>
<br/>

<div th:replace="fragments/headerFragment ::before-body-scripts"></div>
<script th:src="@{/js/tags.js}"></script>

</body>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>



</html>
