<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
<title>Sandeep</title>
<head th:replace="fragments/headerFragment ::headerFragment">

</head>
<link rel="stylesheet" type="text/css" href="/css/me.css"/>
<body>

<nav th:replace="fragments/navbarFragment :: navbarFragment" />

<header id="showcase">
</header>
<br/>
<section id="g" class="container is-mobile" style="margin-top:50px">


    <p>Hi, I am <b>Sandeep </b>.<br/>
        Welcome to my online journal.! I joined all piece together enough to get this online. In my day to day exploration, i would like to learn and change one thing at time. Many things you may find here are not needed or might be overkill but for me to test and learn for myself, This is the perfect place.
        behind the scene, this platform is developed using following
        <ui>
            <li>SpingBoot</li>
            <li>gradle</li>
            <li>Bulma for css</li>
            <li>Docker for packaging</li>
            <li>Thymeleaf</li>
            <li>  <a href="https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion">Lets Encrypt (Beautiful thing) </a></li>
        </ui>
        That's all for now, I will keep adding more details here.

    </p>


</section>
<br/>


<div th:replace="fragments/headerFragment ::before-body-scripts"></div>
<script th:src="@{/js/me.js}"></script>

</body>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>


</html>







<!--<!DOCTYPE html>-->
<!--<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">-->
<!--<title>About Me</title>-->
<!--<head th:replace="fragments/headerFragment ::headerFragment"></head>-->

<!--<body>-->

<!--<nav th:replace="fragments/navbarFragment :: navbarFragment"/>-->

<!--<section class="container">-->

<!--<div class="tile is-parent">-->

<!--<article class="tile is-child notification content-brg">-->

<!--<div class="columns is-mobile is-centered">-->
<!--<figure class="image">-->
<!--<img th:src="@{/images/me.jpg}"> </img>-->
<!--</figure>-->
<!--</div>-->

<!--</article>-->
<!--</div>-->
<!--</section>-->

<!--<div th:replace="fragments/headerFragment ::before-body-scripts"></div>-->
<!--<script th:src="@{/js/me.js}"></script>-->

<!--</body>-->
<!--<footer th:replace="fragments/footerFragment :: footerFragment"></footer>-->



<!--</html>-->
