<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org" xmlns:data-th="http://www.w3.org/1999/xhtml">
<title>Article</title>
<head th:replace="fragments/headerFragment ::headerFragment"></head>
<body>

<nav th:replace="fragments/navbarFragment :: navbarFragment" />

<section class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/archive">archive</a></li>
            <li id="cyear"></li>
            <li><a id="crubtitle"  href="#">title</a></li>

        </ul>
    </nav>
    <div class="tile is-parent">
        <article class="tile is-child notification content-brg">

            <div class="content">
                <div class="has-text-centered">
                    <h1 class="title" id="article-title"></h1>
                    <p class="subtitle">With even more content</p>
                </div>

                <div class="content" id="article-content" style="margin-top:50px;">

                </div>
            </div>
        </article>
    </div>

    <div class="tags is-centered" id="tag-list">
            <a class="tag is-white is-size-4" href="/tag">Tags:</a>


    </div>
</section>


<br/>
<div th:replace="fragments/headerFragment ::before-body-scripts"></div>
<script th:src="@{/js/article.js}"></script>


</body>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>



</html>
