<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<nav th:fragment="navbarFragment" class="navbar  is-fixed-top is-transparent " style="background-color: transparent;
             background-image: none;" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-brand nav-color">



        <div class="navbar-burger" id="burger-menu" data-target="navMenu">
            <span ></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu nav-color " id="navMenu">
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable aria-haspopup=true">
                <a sec:authorize="isAuthenticated()" class="navbar-link" href="/">
                    <span  sec:authentication="name"></span>
                </a>
                <a sec:authorize="!isAuthenticated()" class="navbar-link" href="/">
                    <span>Home</span>
                </a>

                <div class="navbar-dropdown ">
                    <div>
                    <a class="navbar-item" href="/archive">
                        <span><i class="fas fa-archive"></i></span>&nbsp;
                        <span>Archive</span>
                    </a>
                    </div>
                    <div>
                    <a class="navbar-item" href="/tag">
                        <span><i class="fas fa-tag"></i></span>&nbsp;
                        <span>Tags</span>
                    </a>
                    </div>
                    <div>
                        <a class="navbar-item" href="/me">
                            <span><i class="fas fa-male"></i></span>&nbsp;
                            <span>About Me</span>
                        </a>
                    </div>
                    <span sec:authorize="isAuthenticated()">
                        <a class="navbar-item" href="/admin">
                            <span><i class="fas fa-unlock-alt"></i></span>&nbsp;
                            <span>Admin</span>
                    </a>
                    <a  class="navbar-item" href="/logout">
                        <span><i class="fas fa-archive"></i></span>&nbsp;&nbsp;
                        <span>Logout</span>
                    </a>
                        </span>
                    <hr class="navbar-divider" />
                    <div class="navbar-item" >
                       v:0.1
                    </div>
                </div>
            </div>
        </div>


    </div>
</nav>
</body>
</html>