body {
    font-family: 'Roboto';
    font-size: 22px;
}

.nav-color{
    background-color: #F0F8FF;
}

.colr{
    background-color:#F0F8FF;
}

.menu-item{
    background-color: #2c3136;
}
.menu-color{
    background-color: #889196;
}

.menu-brg{
    background-color: #FFFFFF;
}

.content-brg{
    background-color: #F0F8FF;
}
pre, code {
    font-family: monospace, monospace;
}
pre {
    overflow: auto;
}
pre > code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
}
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal !important;
}

.space{
  padding-top: 10px;
    padding-bottom: 10px;
}

.space-bottom{
    padding-bottom: 10px;
}
.space-left{
    padding-left: 10px;
}