*{
    margin:0;
    padding:0;
}

body{
    margin:0;
    font-family: 'Roboto';
    font-size:17px;
    color:#889196;
    line-height:1.6;
}

#showcase{
    background-image:url("/images/me.jpg");
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}

#showcase h1{
    font-size:100px;
    line-height:1.2;
}

#showcase p{
    font-size:20px;
}

#showcase .button{
    font-size:18px;
    text-decoration:none;
    color:#926239;
    border:#926239 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
}

#showcase .button:hover{
    background:#926239;
    color:#fff;
}

#section-a{
    padding:20px;
    background:#926239;
    color:#fff;
    text-align:center;
}

#section-b{
    padding:20px;
    background:#f4f4f4;
    text-align:center;
}

#section-c{
    display:flex;
}

#section-c div{
    padding:20px;
}

#section-c .box-1, #section-c .box-3{
    background:#926239;
    color:#fff;
}

#section-c .box-2{
    background:#f9f9f9;
}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.demo a:hover {
    opacity: .5;
}


#section01 a {
    padding-top: 60px;
}
#section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}
#section01 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
#section01 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255,255,255,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255,255,255,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.navbar .is-transparent {
     background-color: transparent;
     background-image: none;
 }
