<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
<title>Sandeep</title>
<head th:replace="fragments/headerFragment ::headerFragment">

</head>
<link rel="stylesheet" type="text/css" href="/css/landing.css"/>
<body>

<nav th:replace="fragments/navbarFragment :: navbarFragment" />

<header id="showcase">
    <h1>Hi, I'm Sandeep</h1>
    <section id="section01" class="demo">
        <a href="#section02"><span></span></a>
    </section>
</header>
<br/>
<section id="section02" class="container is-mobile" style="margin-top:50px">
        <div class="columns" id="add_cards">




    </div>

</section>
<br/>


<div th:replace="fragments/headerFragment ::before-body-scripts"></div>
<script th:src="@{/js/landing.js}"></script>

</body>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>


</html>
