
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments/headerFragment ::headerFragment">

</head>
<body>
<!-- The rest of your code will go here -->
<section class="hero is-primary is-fullheight">

    <div class="hero-body">

        <div class="container">

            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">

                    <form class="box" name="f" th:action="@{/login}" method="post">

                        <div th:if="${param.error}" class=" field notification is-danger">
                            Invalid username and password.
                        </div>

                        <div th:if="${param.logout}" class=" field notification is-success">
                            You have been logged out.
                        </div>
                    <div class="field">
                        <label class="label" for="username">Username</label>
                        <div class="control has-icons-left">
                            <input class="input" id="username" name="username" type="text" placeholder="e.g. alexj" />
                            <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="password">Password</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" placeholder="********" id="password" name="password"/>
                            <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" />
                            Remember me
                        </label>
                    </div>
                    <input type="hidden"
                           name="${_csrf.parameterName}"
                           value="${_csrf.token}"/>
                    <div class="field has-text-centered">
                        <button type="submit" class="button is-success ">
                            Login
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments/footerFragment :: footerFragment"></footer>
</body>
</html>